{% extends 'layoutPlateforme.html.twig' %}

{% block title %}Gestion des groupes d'utilisateurs{% endblock %}

{% block scripts1 %}
  <script type="text/javascript" src="{{ asset('js/jquery-1.11.3.min.js')}} "></script>
  <script>
       $(document).ready(function() {
           $('#nzassaged').DataTable();
       } );

   </script>
{% endblock %}

{% block content %}
    <section class="main-section">
        <div class="container2">
          <div class="nzassa-page nzassa-zone">
            <div class="small-12">

              <!-- Exploitation -->
              <div class="row">
              <!-- Liste des rayonnages -->
                <div class="small-12 medium-8 large-7 columns nzassa-page--liste">
                  <h1>Liste des groupes d'utilisateurs</h1>
                  <div>
                    <table id="nzassaged" class="table table-striped table-bordered table-nzassa" cellspacing="0" width="100%">
                      <thead class="text-center">
                        <tr align="center">
                          <th>ID</th>
                          <th>LIBELLES</th>
                          <th>ACTIONS</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for group in groups %}
                          <tr>
                            <td class="text-right"><a href="{{ path('admin_groups_show', { 'id': group.id }) }}">{{ group.id }}</a></td>
                            <td class="text-left">{{ group.name }}</td>
                            <td class="text-center nzassa-lien-tableau">
                              <a href="{{ path('admin_groups_show', { 'id': group.id }) }}"><span class="glyphicon glyphicon-zoom-in"></span></a> &nbsp; | &nbsp;
                              <a href="{{ path('admin_groups_edit', { 'id': group.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                            </td>
                          </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- \Liste des rayonnages -->
                <!-- Enregistrement -->
                <div class="small-12 medium-4 large-4 large-offset-1 columns nzassa-page--enregistrement">
                  <h1>Consultation</h1>
                  
                  <div class="row">
                    <div class="small-12 columns">
                      <label>Libelle
                        <input type="text" name="name" value="{{ group.name }}" readonly="readonly">
                      </label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="small-5 columns text-left">
                        <a href="{{ path('admin_groups_index') }}">
                            <button class="button warning"><i class="fa fa-pencil"></i> Ajouter</button>
                        </a>
                    </div> 
                    <div class="small-5 columns text-right">
                      <a href="{{ path('admin_groups_edit', { 'id': group.id }) }}">
                          <button class="button warning"><span class="glyphicon glyphicon-edit"></span> Modifier</button>
                      </a>
                    </div>
                  </div>
                  
                  <div class="row">
                      <div class="small-12 columns text-left">
                          {{ form_start(delete_form) }}
                                <button type="submit" class="button alert"><i class="fa fa-trash"></i> Supprimer</button>
                          {{ form_end(delete_form) }}
                      </div>
                  </div>
                </div>
                <!-- \Enregistrement -->
              </div>

            </div>
          </div>
        </div>

      </section>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="{{ asset('vendor/foundation/plateforme/js/jquery.min.js')}} "></script>
    <script type="text/javascript" src="{{ asset('vendor/foundation/plateforme/js/foundation.js')}}"></script>
    <script type="text/javascript" src="{{ asset('vendor/bootstrap/js/dataTables.bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js')}}"></script>
    <script>
      $(function(){ $(document).foundation(); });
      $(document).ready(function(){
        // disable default behavior for links - prevents iframe logging to
        // browsing history, requiring multiple back-button clicks to go back one page
        $('.iframe-body a[href=#]').click(function(e) {
          e.preventDefault();
        });
      });
    </script>

    <script>
	    $(document).ready(function(){$(document).foundation();
		$(".off-canvas-submenu").hide();
		$(".off-canvas-submenu-call").click(function() {
			var icon = $(this).parent().next(".off-canvas-submenu").is(':visible') ? '+' : '-';
			$(this).parent().next(".off-canvas-submenu").slideToggle('fast');
			$(this).find("span").text(icon);
		});
		})
	</script>
{% endblock %}


{% block body %}
    <h1>Group</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ group.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_groups_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_groups_edit', { 'id': group.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
